.search-bar-container-result-page {
    padding-top: 2em;
    width: 80%;
    display: flex; 
    position: sticky;
    z-index: 1;
}
.search-bar-title-result-page{
font-size: 1.90vw;
font-weight:900;
padding: 0.5rem;
}
 @media all and (min-width: 1400px) {
        .search-bar-title-result-page {
           font-size: 2rem;
         }
     }
 
 @media all and (max-width: 999px) {
     .search-bar-title-result-page {
         font-size: 1.35rem;
     }
 }


.input-wrapper-result-page {
    background-color: white;
        width: 30%;
        border-radius: 10px;
        height: 2.5rem;
        padding: 0 15px;
        box-shadow: 10px 10px 8px #ddd;
        display: flex;
        align-items: center;
        margin-left: 2%;  
}

.container-parent {
width: 100%;
max-width: 1400px;
padding: 3em;
margin: 0 auto;
// background-color: antiquewhite;

}
.container-child {
    padding-top: 2em ;
}


.title-section {
    width: 100%;
    padding: 1em;
    background-color: darkorchid;
   
}
.title {
    text-align: center;
    font-size: 2vw;
    line-height: 1;
    color: white;
    text-transform: uppercase;
    margin: 0 0 .2rem ;
}

.author-section {
    border: 1px solid black;
    padding: 1em;
    text-align: center;
}
.author-img {
    box-shadow: 1px 1px 5px 2px rgba(0,0,0, .3);
    width: 10vw;
}
// @media all and (max-width: 999px) {
//     .author-img {
//         width: 150px;
//     }
// }

.content-section {
    border: 1px solid black;
        padding: 1em;
}

.subject-li {
    list-style-type: '✍🏾';
    padding-inline-start: 1ch;
}
