.main-search {
    width: 100%;
    border-radius: 10px;
    height: 100vh;
    margin-top: 20px;
}
.item-div {
   padding-top: 30px;
   padding-left: 150px;
}
.more-result-search-div {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 150px;
}
.Subjects{
   margin-top: 5px;
}

.subject-result {
    font-size: small;
}

.res-link {
    margin-top: 5px;
    color: royalblue;
}
.res-link-1 {

}
